@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
  margin-left: 10px;
  margin-right: 10px;
}

.App-search-input {
  min-width: 80vmin;
}

.App-title .ant-list-item-meta-title {
  color: #09d3ac;
  text-align: justify;
}

.App-list-button .ant-btn {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.App-list-button .ant-btn:hover,
.ant-btn:focus {
  color: #40a9ff;
  background-color: transparent;
  border-color: transparent;
}

.App-add-new-location {
  display: flex;
  justify-content: space-between;
}

.App-add-new-location .App-text-input {
  margin-top: auto;
  margin-bottom: auto;
  width: 60vmin;
}

.App-add-new-location .App-add-button {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}

.demo-infinite-container {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 8px 24px;
  height: 300px;
}
.demo-loading-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

.App-close-button-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.App-close-button {
  background: transparent;
  border: none;
  color: red;
  font-size: calc(10px + 2vmin);
}

.App-forecast-details-list {
  margin-bottom: 20px;
}

.App-weather-details-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

.App-max-temp {
  text-align: center;
  color: grey;
}

.App-min-temp {
  text-align: center;
  color: silver;
}
